<div class="page-header">
  <h3>Insight Type #<%= @insight_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Insight type</dt>
      <dd><%= @insight_type.insight_type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/insight_types" class="btn btn-primary">
        Back
      </a>
      <a href="/insight_types/<%= @insight_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_insight_type/<%= @insight_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Insight type has many insights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Insights
      </li>

      <% @insight_type.insights.each do |insight| %>
        <li class="list-group-item">
          <a href="/insights/<%= insight.id %>">
            <%= insight.presentation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/insights/<%= insight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/insights/<%= insight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_insight/<%= insight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
