<div class="page-header">
  <h3>Insight Type #<%= @insight_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Insight type</dt>
      <dd><%= @insight_type.insight_type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/insight_types" class="btn btn-primary">
        Back
      </a>
      <a href="/insight_types/<%= @insight_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_insight_type/<%= @insight_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Insight type has many insights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Insights
      </li>

      <% @insight_type.insights.each do |insight| %>
        <li class="list-group-item">
          <a href="/insights/<%= insight.id %>">
            <%= insight.presentation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/insights/<%= insight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/insights/<%= insight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_insight/<%= insight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_insight" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for presentation_id -->
      <div class="form-group">
        <label for="presentation_id" class="control-label">
          Presentation
        </label>

        <%= select_tag(:presentation_id, options_from_collection_for_select(Presentation.all, :id, :lead_id), :class => "form-control") %>
      </div>

      <!-- Label and input for contributor_id -->
      <div class="form-group">
        <label for="contributor_id" class="control-label">
          Contributor
        </label>

        <%= select_tag(:contributor_id, options_from_collection_for_select(Contributor.all, :id, :presentation_id), :class => "form-control") %>
      </div>

      <!-- Label and input for insght_type_id -->
      <div class="form-group">
        <label for="insght_type_id" class="control-label">
          Insght type
        </label>

        <%= select_tag(:insght_type_id, options_from_collection_for_select(InsightType.all, :id, :insight_type), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <!-- Label and input for answered -->
      <div class="form-group">
        <label for="answered" class="control-label">
          Answered
        </label>

        <input type="text" id="answered" name="answered" placeholder="Answered" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Insight
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
