<!-- Validation failure messages -->
<% if @rating_level.errors.any? %>
  <% @rating_level.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Rating Level</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rating_level" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rating_level -->
      <div class="form-group">
        <label for="rating_level" class="control-label">
          Rating level
        </label>

        <input type="text" id="rating_level" name="rating_level" placeholder="Rating level" class="form-control" value="<%= @rating_level.rating_level %>">
      </div>

      <!-- Label and input for order_number -->
      <div class="form-group">
        <label for="order_number" class="control-label">
          Order number
        </label>

        <input type="text" id="order_number" name="order_number" placeholder="Order number" class="form-control" value="<%= @rating_level.order_number %>">
      </div>

      <!-- Label and input for score -->
      <div class="form-group">
        <label for="score" class="control-label">
          Score
        </label>

        <input type="text" id="score" name="score" placeholder="Score" class="form-control" value="<%= @rating_level.score %>">
      </div>

      <!-- Label and input for rating_type_id -->
      <div class="form-group">
        <label for="rating_type_id" class="control-label">
          Rating type
        </label>

        <%= select_tag(:rating_type_id, options_from_collection_for_select(RatingType.all, :id, :rating_type, @rating_level.rating_type_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Rating Level
      </button>
      or
      <a href="/rating_levels">Cancel</a>
    </form>
  </div>
</div>
