<%if current_lead == @presentation.lead %>
<h3>You are leading <%=@presentation.name%></h3>

<% else %>
<div class="page-header">
  <div class = "row">
    <div class = col-xs-2>
      <h4> Hello Contributor <%=@contributor.id%> </h4>
    </div>
    <div class = col-xs-3>
    </div>
    
    <form action="/create_insight" method="post">
    
    <div class = col-xs-5>
      <div class="form-group">
          <input type="text" id="email" name="email" placeholder="Type your email and confirm if you want follow up. If not leave blank." class="form-control" value="">
      </div>
    </div>
    <div class = col-xs-2>
      <button class="btn btn-block btn-success">
        Confirm Email
      </button>
    </div>
  </div>
  <h3>You are Participating Anonymously in: <%= @presentation.name%></h3>
</div>
<%end%>

<%if current_lead == @presentation.lead %>
  <%@presentation_insights_sorted.each do |insight| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
          <%=insight.vote_score%> 
        </div>
        <div class="col-xs-1">
          <i class="fa fa-question" aria-hidden="true"></i> 
        </div>
        <div class="col-xs-9">
          <%=insight.title%> 
        </div>
        <div class="col-xs-1">
          <button class="btn btn-s btn-danger">
          Answer
          </button>
        </div>
      </div>
    </div>
  <%end%>

<% else %>
<div class="container_fluid">
  <div class = "row">
    <form action="/create_insight" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <!-- Label and input for presentation_id -->
      <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
      <!-- Label and input for contributor_id -->
      <input type="hidden" name="contributor_id" value="2"> <!--should be %= current_contributor.id % -->
      <!-- Label and input for insght_type_id -->
      
    <div class = "col-xs-2">
      <div class="form-group">
        <%= select_tag(:insght_type_id, options_from_collection_for_select(InsightType.all, :id, :insight_type), :class => "form-control") %>
      </div>
    </div>
      <!-- Label and input for title -->
    <div class = "col-xs-8">
      <div class="form-group">
        
          <input type="text" id="title" name="title" placeholder="Type Your Question or Insight Here" class="form-control" value="">
      </div>
    </div>
    <div class = "col-xs-2">  
      <button class="btn btn-block btn-success">
        Ask
      </button>
    </div>
    </form>
</div>
</div>


<%@presentation_insights_sorted.each do |insight| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1">
      <%=insight.vote_score%> 
    </div>
    <div class="col-xs-1">
        <i class="fa fa-question" aria-hidden="true"></i>
      
    </div>
    <div class="col-xs-1">
        <form action ="/create_vote" method ="post">
          
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        
          <input type="hidden" name="presentation_id" value ="<%=insight.presentation_id%>">
          
          <input type="hidden" name="insight_id" value ="<%=insight.id%>">
        
          <input type="hidden" name="contributor_id" value ="<%=@contributor.id%>"> <!--this should be %=current_contributor.id%> --> 
        
          <input type="hidden" name="vote" value ="1">
          
          <button class="btn btn-link">
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
          </button>

      </form>
    </div>
    <div class="col-xs-1">
            <form action ="/create_vote" method ="post">
        
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          
          <input type="hidden" name="presentation_id" value ="<%=insight.presentation_id%>">
          
          <input type="hidden" name="insight_id" value ="<%=insight.presentation_id%>">
        
          <input type="hidden" name="contributor_id" value ="<%=@contributor.id%>"> <!--this should be %=current_contributor.id%> --> 
        
          <input type="hidden" name="vote" value ="-1">
          
          <button class="btn btn-link">
          <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
          </button>

      </form>
      
    </div>
    <div class="col-xs-8">
      <%= insight.title%> 
    </div>
  </div>
</div>


<% end %>
<% end %>   
    
  





      

      







      
