<div class="page-header">
  <h3>Presentation #<%= @presentation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lead</dt>
      <dd><%= @presentation.lead_id %></dd>

      <dt>Date</dt>
      <dd><%= @presentation.date %></dd>

      <dt>Name</dt>
      <dd><%= @presentation.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/presentations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @presentation.lead %>
        <a href="/presentations/<%= @presentation.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_presentation/<%= @presentation.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Presentation has many contributors -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Contributors
      </li>

      <% @presentation.contributors.each do |contributor| %>
        <li class="list-group-item">
          <a href="/contributors/<%= contributor.id %>">
            <%= contributor.presentation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/contributors/<%= contributor.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/contributors/<%= contributor.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_contributor/<%= contributor.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Presentation has many insights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Insights
      </li>

      <% @presentation.insights.each do |insight| %>
        <li class="list-group-item">
          <a href="/insights/<%= insight.id %>">
            <%= insight.presentation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/insights/<%= insight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/insights/<%= insight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_insight/<%= insight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
