<div class="page-header">
  <h3>Lead #<%= @lead.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @lead.email %></dd>

      <dt>Password</dt>
      <dd><%= @lead.password %></dd>

      <dt>Username</dt>
      <dd><%= @lead.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leads" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Lead has many presentations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Presentations
      </li>

      <% @lead.presentations.each do |presentation| %>
        <li class="list-group-item">
          <a href="/presentations/<%= presentation.id %>">
            <%= presentation.lead_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/presentations/<%= presentation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/presentations/<%= presentation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_presentation/<%= presentation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
