<!-- Validation failure messages -->
<% if @rating_type.errors.any? %>
  <% @rating_type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Rating Type #<%= @rating_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_rating_type/<%= @rating_type.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rating_type -->
      <div class="form-group">
        <label for="rating_type" class="control-label">
          Rating type
        </label>

        <input type="text" id="rating_type" name="rating_type" placeholder="Rating type" class="form-control" value="<%= @rating_type.rating_type %>">
      </div>

      <button class="btn btn-warning">
        Update Rating Type
      </button>
      or
      <a href="/rating_types/<%= @rating_type.id %>">Cancel</a>
    </form>
  </div>
</div>
