<div class="page-header">
  <h3>Contributor #<%= @contributor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Presentation</dt>
      <dd><%= @contributor.presentation_id %></dd>

      <dt>Name</dt>
      <dd><%= @contributor.name %></dd>

      <dt>Email</dt>
      <dd><%= @contributor.email %></dd>

      <dt>Position</dt>
      <dd><%= @contributor.position %></dd>

      <dt>Department</dt>
      <dd><%= @contributor.department %></dd>

      <dt>Facility</dt>
      <dd><%= @contributor.facility %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contributors" class="btn btn-primary">
        Back
      </a>
      <a href="/contributors/<%= @contributor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contributor/<%= @contributor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Contributor has many questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Questions
      </li>

      <% @contributor.questions.each do |insight| %>
        <li class="list-group-item">
          <a href="/insights/<%= insight.id %>">
            <%= insight.presentation_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/insights/<%= insight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/insights/<%= insight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_insight/<%= insight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Contributor has many question_votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Question Votes
      </li>

      <% @contributor.question_votes.each do |vote| %>
        <li class="list-group-item">
          <a href="/votes/<%= vote.id %>">
            <%= vote.insight_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/votes/<%= vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Contributor has many question_ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Question Ratings
      </li>

      <% @contributor.question_ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.insight_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
