<div class="page-header">
  <h1>
    Votes
    <a href="/votes/new" class="btn btn-lg btn-success">New Vote</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Insight</th>
        <th>Contributor</th>
        <th>Vote</th>
        <th>Actions</th>
      </tr>

      <% @votes.each do |vote| %>
      <tr>
        <td>
          <% if vote.question.present? %>
            <a href="/insights/<%= vote.question.id %>">
              <%= vote.question.presentation_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if vote.contributor.present? %>
            <a href="/contributors/<%= vote.contributor.id %>">
              <%= vote.contributor.presentation_id %>
            </a>
          <% end %>
        </td>
        <td><%= vote.vote %></td>
        <td>
          <a href="/votes/<%= vote.id %>" class="btn btn-primary">Show</a>
          <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @votes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
